.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.btnPrimary {
    height: 40px;
    width: 100%;
    background-color: #ff2727;
    border: none;
}
.btnSecondary {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #ff2727;
}
