.aboutContainer{
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.texts{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.texts h2{
    font-size: 36px;
}
.texts p{
    margin-bottom: 10px;
}
.paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    margin: 2rem 0;
    margin-bottom: 5rem;
}
.illustration{
    height: auto;
    width: 115%;
}
.image{
    height: auto;
    width: 100%;
}
@media (min-width: 1024px) {
    .texts{
        flex-direction: row;
    }
    .paragraphs{
        max-width: 400px;
        height: 35vh;
    }
}