.reviewContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}
.reviewContainer h2 {
  font-size: 36px;
  margin-bottom: 2rem;
}

.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 1rem 0;
  padding-left: 0.2rem;
  scrollbar-color: #dddddd transparent;
  scrollbar-width: thin;
}

.buttonContainer {
  width: 45%;
}
